$grid-item-width: calc(100% / 2);

.grid {
  display: flex;
  flex-wrap: wrap;
}

.gridItem {
  position: relative;
  flex: 0 0 $grid-item-width;
  width: $grid-item-width;
  max-width: $grid-item-width;
  padding: 1rem;
}

.gridItemPlaceholder {
  position: relative;
  height: 14.6rem;
  width: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  padding: 1rem;
}