@import './src/assets/scss/utils';
@import './src/assets/scss/common';

:global {
    body {
        background-color: $dark;
        color: $white;
    }

    .main {
        padding: 4rem 0;
    }
}