$grid-item-width: calc(100% / 2);

.grid {
  display: flex;
  flex-wrap: wrap;
}

.gridItem {
  position: relative;
  flex: 0 0 $grid-item-width;
  width: $grid-item-width;
  max-width: $grid-item-width;
  padding: 1rem;

  
  @include mobile {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding: 0 2rem;
  }

  &:not(:last-of-type) {
    @include mobile {
      margin-bottom: 2rem;
    }
  }
}

.gridItemPlaceholder {
  position: relative;
  height: 14.6rem;
  width: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  padding: 1rem;
}